---
# Handlers for system/base role

- name: Restart chrony
  systemd:
    name: chrony
    state: restarted

- name: Restart postfix
  systemd:
    name: postfix
    state: restarted

- name: Restart SSH
  systemd:
    name: ssh
    state: reloaded  # Use reload instead of restart to preserve connections
