  {{ addon_name }}:
    image: elasticsearch:{{ version }}
    container_name: {{ project_name }}-{{ addon_name }}
    restart: always
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - xpack.security.enabled=true
    volumes:
      - {{ addon_name }}-data:/usr/share/elasticsearch/data
    networks:
      - {{ project_name }}-network
    expose:
      - "9200"
    healthcheck:
      test: ["CMD-SHELL", "{{ healthcheck.command }}"]
      interval: {{ healthcheck.interval }}
      timeout: {{ healthcheck.timeout }}
      retries: {{ healthcheck.retries }}
      start_period: {{ healthcheck.start_period }}
