---
# Handlers for project-deployer role

- name: reload prometheus
  uri:
    url: "http://localhost:9090/-/reload"
    method: POST
    status_code: 200
    timeout: 5
  when: monitoring_enabled | default(false) | bool
  failed_when: false
  listen: reload prometheus

- name: restart applications
  community.docker.docker_compose_v2:
    project_src: "{{ project_base_path }}/compose"
    project_name: "{{ compose_project_name }}"
    files:
      - docker-compose.apps.yml
    state: restarted
  become_user: "{{ superdeploy_user }}"
  listen: restart applications
