---
# Handlers for project-deployer role

- name: reload prometheus
  block:
    - name: Check if Prometheus is running
      uri:
        url: "http://localhost:9090/-/healthy"
        method: GET
        status_code: 200
        timeout: 5
      register: prometheus_health
      failed_when: false
      changed_when: false
    
    - name: Reload Prometheus configuration
      uri:
        url: "http://localhost:9090/-/reload"
        method: POST
        status_code: 200
      when: prometheus_health.status == 200
    
    - name: Skip Prometheus reload (not running)
      debug:
        msg: "Skipping Prometheus reload - service is not running or monitoring is disabled"
      when: prometheus_health.status != 200
  when: monitoring_enabled | default(false) | bool
  listen: reload prometheus

- name: restart applications
  community.docker.docker_compose_v2:
    project_src: "{{ project_base_path }}/compose"
    project_name: "{{ compose_project_name }}"
    files:
      - docker-compose.apps.yml
    state: restarted
  become_user: "{{ superdeploy_user }}"
  listen: restart applications
